html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  border: 1px solid white;
}
#logo {
  height: 60px;
  width: 60px;
}
.hotelList {
  height: 200px;
  width: 250px;
}
header,
footer {
  background-color: rosybrown;
}
body {
  background-color: #e0e0e0;
  margin: 0;
}
#content {
  margin: 2%;
}
.detailist {
  background-color: rgb(132, 136, 139);
  width: 40%;
}
.detail_list {
  background-color: rgb(132, 136, 139);
  width: 40%;
}
