html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* border: 1px solid white; */
}
/* #logo {
  height: 60px;
  width: 60px;
} */
#imageHotel1 {
  height: 270px;
  width: 300px;
}
/* header {
  background-color: rosybrown;
}
footer {
  background-color: rosybrown;
} */

.hotelDetail {
  background-color: rgb(132, 136, 139);
  height: 20%;
  width: 50%;
  margin: auto;
  margin-top: 2%;
}
/* .detailOfCustomer {
  margin-left: 2%;
} */
/* temp commented */
/* .tariffDetail {
  margin: 2%;
  border: 1px solid;
  padding: 4px;
  border-radius: 1px;
} */

.Hotel_image_info_holder {
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  margin-top: 65px;
}
header {
  display: absolute;
}
.main_container {
  margin-top: 90px;
  padding-bottom: 100px;
}
.image_hotel1_details h2 {
  margin: 70px 10px 25px 10px;
}
.image_hotel1_details p {
  margin: 25px 10px 10px 10px;
}
.payment_info_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  margin: 2%;
  background-color: rosybrown;
  border-radius: 2px;
}

.Hotel_image_info_holder {
  margin-top: 140px;
}
